.wrapper {
    height: 300px;
    width: 1920px;
    display: flex;
}

.wrapper_input {
    width: 960px;
    height: 300px;
    background-image: url("../../static/img/bac.png");
}

.wrapper_subscribe {
    width: 960px;
    height: 300px;
    background-color: rgba(46, 51, 72, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_first {
    font-size: 30px;
    font-family: Poppins;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.descr {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.descr {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.input_button {
    margin-top: 40px;
}

.input_email {
    width: 400px;
    height: 45px;
    outline: 0;
    margin-right: 10px;
}

input[placeholder] {
    padding-left: 26px;
    font-family: Roboto;
    font-size: 14px;
    color: #9c9c9a;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #3cb878;
    border: 0;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    font-weight: 200;

}


.button:active, button:focus {
    outline: none;
}
.button:hover{
    border: 3px solid #3cb878;
    color: #3cb878;
    background-color: white;
    border: white;

}

.clients {
    width: 960px;
    height: 300px;
    background-color: #f5f6f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

img {
    width: 132px;
    height: 132px;
}

