.wrapper {
    display: flex;
    flex-direction: column;
}

.text1{
    font-family: Poppins;
    font-size: 18px;
    color: #232323;
}

.text2{
    font-family: "Droid Serif";
    font-size: 13px;
    color: #99999a;
}

