@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

.header {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_phone_email {
    display: flex;
    margin-left: 70px;

}

.contact {
    color: white;
    font-family: Roboto;
    font-size: 14px;
}

.phone {
    padding-right: 30px;
    border-right: 1px solid #464646;
}

.phone:before {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 14px;
    color: white;
    margin-right: 22px;
}

.email:before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-size: 14px;
    color: white;
    margin-right: 22px;
}

.social_networks {
    display: flex;
    margin-right: 70px;
}

.soc_net:before {
    font-family: FontAwesome;
    font-size: 14px;
    color: white;
    margin-right: 22px;
}

.soc_net {
    text-decoration: none;
}

.soc_net:hover:before {
    color: #3cb878;
}

.facebook:before {
    content: "\f09a";
    font-family: FontAwesome;
}

.twitter:before {
    content: "\f099";
}

.instagram:before {
    content: "\f16d";
}

.linkedln:before {
    content: "\f0e1";
}

.behance:before {
    content: "\f1b4";
    margin-right: 0;
}