.wrapper{
    width: 1920px;
    height: 640px;
    background-color: #2e3348;
    display: flex;
}

.categories {
    width: 640px;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale {
    background-color: #34394f;
}

img {
    width: 428px;
    height: 427px;
}