.cooperation {
    height: 60px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooperation_text {
    color: #626262;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.cooperation_size {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_payment {
    display: flex;
}

.img_payment_container {
    height: 30px;
    width: 45px;
    background-color: #616161;
    margin-right: 15px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visa {
    height: 100%;
    width: 100%;
}

.paypal {
    height: 100%;
    width: 100%;
}

.amazon {
    height: 100%;
    width: 100%;
}

.maestro {
    height: 100%;
    width: 100%;
}

.amex {
    width: 45px;
    height: 30px;
    background-color: black;
}

