
.information {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    color: #333333;
}

.info {
    margin-bottom: 42px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
}

