.wrapper {
    height: 800px;
    background-color: #121212;
    display: flex;
    align-items: center;
}

.big_text {
    font-size:60px;
    font-family: Poppins;
    font-weight:bolder;
    color: #333333;
}

.big_text_green{
    color: #3cb878;
}


.content {
    display: flex;
    flex-direction: column;
    margin-left: 388px;
}
.description{
    font-size:16px;
    font-family: Poppins;
    font-weight: 400;
    color: #333333;
}
.size {
    font-size: 18px;
    font-family: Roboto;
    color: #333333;
    margin-top: 104px;
    margin-left: 526px;
}