.wrapper {
    width: 334px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_main{
    font-family:Poppins medium;
    font-size: 30px;
    font-weight: bold;
    color:#333333;
}

.title_secondary{
    font-family: Playfair Display medium ;
    font-size: 14px;
    font-weight: initial;
    color: #3cb878;
}
.title_text{
    font-size: 14px;
    font-family: Poppins medium;
    margin-top: 38px;
}