@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.logo {
    margin-left: 70px;
}

.navbar_logo {
    font-size: 24px;
    font-family: Poppins;
    color: black;
}

.navbar_logo_green {
    font-weight: bolder;
    color: #3cb878;
}

.menu {
    display: flex;
}

.menu_link {
    text-decoration: none;
    margin: 50px;
    font-family: Poppins;
     font-weight:400;
    color: black;
    font-size: 16px;
}

.menu_link:hover {
    color: #3cb878;
}

.menu_link_green {
    color: #3cb878;
}

.menu_link_green:hover {
    color: black;
}

.navigation_button {
    display: flex;
    margin-right: 70px;
}

.shopping_card_button {
    position: relative;
}

.basket:before {
    content: "\f07a";
    font-family: FontAwesome;
    font-size: 14px;
    pointer-events: none;
}


.nav_but:hover:before {
    color: #3cb878;
}

.shopping_card_button:hover .circle {
    background-color: black;
}


.search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 14px;
}

.search:hover:before {
    color: #3cb878;
}

.burger_menu:before {
    content: "\f0c9";
    font-size: 14px;
    font-family: FontAwesome;
}

.burger_menu:hover:before {
    color: #3cb878;
}

.nav_but {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.basket {
    margin-left: 0px;
}


.circle {
    background-color: #3cb878;
    position: absolute;
    left: 13px;
    bottom: 10px;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 9px;
    color: white;
    font-family: Poppins;
}

address {
    font-style: normal
}